body 
  padding-top: 130px
  background-image: url('../../img/bg/back-bg.jpg')

p
  text-align: justify
  text-align-last: left

.destaques
  padding: 50px 0 20px
  text-align: center

.destaques-catalogo
  padding: 10px 0 20px
  text-align: center

.container
  padding-top: 25px
  margin-bottom: 75px

.fundo-container
  background-image: url('../../img/bg/bg.jpg')

.logo-symbol
  width: 30px
  height: 30px

.apresenta
  padding-bottom: 50px

.texto-apresenta
  font-size: 1.25em
  font-weight: bold

.bookshelf
  padding: 0 0 50px

.texto-bookshelf
  padding: 10px 0
  font-size: 1em

footer
  padding: 10px 0 20px
  text-align: center
  font-size: 1.1em
  font-weight: bold
  line-height: 75px
  background-image: url('../../img/bg/bg.jpg')

.panel-group
  cursor: pointer

.panel-body
  p 
    font-size: 0.9em

.twitter-botao
  text-align: center

.slides
  max-width: 800px
  margin: 0 auto

.apresenta-lancamentos
  margin: 0 auto
  text-align: center

.label-warning-novo
  background-color: #f3cb00

.galeria-atalho
  padding: 20px 0
  text-align: center
  .col-md-6
    padding: 20px 0

.box-revista
  max-width: 800px
  margin: 0 auto

// gallery

.my-simple-gallery 
  width: 100%
  float: left

.my-simple-gallery img 
  width: 100%
  height: auto

.my-simple-gallery figure 
  display: block
  float: left
  margin: 0 5px 5px 0
  width: 150px

.my-simple-gallery figcaption 
  display: none